.App {
  text-align: center;
}

/* BODY */

body{
  font-family:Arial, Helvetica, sans-serif;
  background-image: url(/../assets/images/home/body-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper {
  margin: 0 auto 0 auto;
}

/* Header */

header{
  width: 100%;
  height: auto;
  background-color: hsl(94, 75%, 22%);
  position:sticky; 
  left: 0px;
  top: 0px;
  color: white;
  font-size: larger;
}

.navbar-nav {
  align-items: center;
}

.cart-icon {
  height: 56px;
}

.toggle-button {
  position:absolute;
  top: .75rem;
  right: -37rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  }
  
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10p
}

.nav-item a {
  color: white;
}

.nav-item:focus {
  color: white;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
}
  
nav ul li a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.nav-item a:hover{
  color: hsl(94, 75%, 22%);
}

nav ul li:hover{
  background-color: #ffffff;
  height: 100%;
  width: fit-content;
}
  
.nav-link:hover {
  color: hsl(94, 75%, 22%);
}
  
.nav-link:focus {
  color: white;
}

.nav-link .nav-item:hover {
  background-color: none;
}
  
.nav1:hover {
  background-color: hsl(94, 75%, 22%) !important;
}

nav ul li {
  display: flex;
  padding: 0px 10px;
}

.searchInputs {
  display: flex;
  position: relative;
  background-color: white !important;
  
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  height: 40px;
  width: 300px;
  padding: 10px;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  color: black;
  position: absolute;
}

.fa-magnifying-glass, .fa-delete{
  color: hsl(94, 75%, 22%);
  font-size: 20px;
  justify-content: center;
  background-color: white;
  float: right;
  padding: 10px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem {
  margin-left: 10px ;
  font-size: 15px;
}
a {
  text-decoration: none;
}

.dataItemContainer:hover {
  background-color: lightgrey;
  padding: 0;
}

#clearBtn {
  cursor: pointer;
}

@media screen and (max-width: 782px) {

  .navbar-links {
  display: none !important;
  width: 100%;
  }
    
  .navbar-toggler {
  border-color: #fff;
  }  
}

/* NEW ARRIVALS */
    
.img1 {
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.newarrival {
  background: hsl(94, 75%, 22%);
  color:white;
  align-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.newarrivalcard .card {
  padding-bottom: 30px;
  border-radius: 5%;
  overflow: hidden;
  border-color:hsl(94, 75%, 22%);
  border-width: 8px;
}

.slider-btn {
  text-decoration: none;
}

.atocbtn-inner {
  background-color: rgb(161, 89, 22) !important;
}

.cobtn-inner {
  text-decoration:none; 
  background-color: hsl(94, 75%, 22%) !important;

}

.checked {  
  color : rgb(255, 230, 0);  
  font-size : 20px;  
}

.unchecked {  
  color: rgb(151, 150, 150);
  font-size : 20px;  
}

.carousel  {
  background-color: hsl(94, 75%, 22%);
}


.carousel-containerb {
  background-color: hsl(94, 75%, 22%);
}

.bs {
  opacity: 100% !important;
}

.actvbtn {
  height: 15px;
   width:15px; 
   border:1px; 
   border-radius: 15px;
}

.crsbtn {
  height: 15px; 
  width:15px; 
  border:1px; 
  border-radius: 15px;
}

.soldoutbtn1 {
  background-color: hsl(94, 75%, 22%) !important;
}

.soldoutbtn2 {
  background-color: rgb(161, 89, 22) !important;
}

.offer {
  font-style:italic;
}

.sellingbtn1 {
  background-color: hsl(94, 75%, 22%) !important;
}

.sellingbtn2 {
  background-color: rgb(161, 89, 22) !important;
}

.bestsellers {
  color: hsl(94, 75%, 22%);
  background: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.bestsellercarousel {
  background-color: hsl(94, 75%, 22%);
}

.article {
  border-radius: 2%;
}

.article .h1 {
  color: hsl(94, 75%, 22%);
  font-weight:bolder;
}

.crcont { 
  color: hsl(94, 75%, 22%) 
}

.startjustify {
  justify-content:baseline;
}

.seeallreviews {
  text-decoration:underline;
}

.btnwl {
  background-color: hsl(49, 100%, 50%) !important;
}

.prodtitlehref  {
  text-decoration: none;
  color: black;
}

.prodtitlehref:hover {
  color: hsl(94, 75%, 22%);
}


@media screen and (max-width: 992px) {
.giftimg {
  display: none !important;
}

}
.comingsoon .h1 {
  color: white;
  background-color: rgb(161, 89, 22);
}

.comingsoon .container {
  background-color: rgb(161, 89, 22);
  border-radius: 2%;
  padding: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
  .banner-logo {
    height: 500px;
}

}
@media screen and (max-width: 1330px) {
  .banner-logo {
    height: 400px;
}
}

@media screen and (max-width: 1024px) {
  .banner-logo {
    height: 300px;
}
  .slider-btn {
    font-size: 20px !important;
    margin: 0;
}

  .carcapt {
    position: absolute; 
    top:calc(50% - 150px); 
    left:0;
    right:0;
    text-align:center;
}

@media screen and (max-width: 780px) {
.banner-logo {
display: none;
}
.banner-pic {
display: none;
}
.slider-btn {
display: none;
}
.carmain1 {
display: none !important;
}
.carmain2 {
display: block !important;
}
}
}

.giftimg {
  border-radius: 10%;
}

.blogp {
  text-align:justify;
}

.fblog{
  font-weight:normal !important ;
  text-align: left;
}

.blogtitle {
  text-align: left;
}

.blogdate {
  text-align: left;
}

.blogsectitle {
  font-weight: bold; 
  color: hsl(94, 75%, 22%);
  text-align: left;
}

.seeallblogs {
  text-decoration:underline ; 
  color: hsl(94, 75%, 22%)
}

.backtotop {
  color:hsl(94, 75%, 22%) !important;
}

.sliderbtn:hover {
  color: white;
}

.cardcontent {
  width: 100%;
  overflow: hidden;
}

.cardcontent img {
  width: 100%;
  height: 100%;
  transition:all 0.5s ease-in-out;
}

.cardcontent:hover img {
  transform:scale(1.25)
}

.banner {
  height: 200px;
  width: auto;
  background-image: url(/../images/home/banner.png);
  background-size: cover; 
  position: fixed;
}

.site-footer
{
  background-color:hsl(94, 75%, 22%);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-footer hr
{
border-top-color:rgb(255, 255, 255);
opacity:0.5
}

.site-footer hr.small
{
margin:20px 0
}

.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}

.site-footer a
{
color:#ffffff;
}

.site-footer a:hover
{
  color:#ffffff;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none;
}

.footer-links li
{
  display:block;

}

.footer-links a
{
  color:#ffffff;
  text-decoration: none;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fcfcfc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}

.subscribeform {
  display: flex;
}

.subsbtn {
  background-color: rgb(161, 89, 22) !important;
}

.infoemail {
  color: white;
}

.socialicons1, .socialicons2, .socialicons3 {
  height: 30px; 
  width: 30px; 
  margin-right: 1%;
}

.warning

.whattoget {
  font-size: 13px;
}

.copyright {
  text-align: center;
}

.sociallinks {
  text-align: center;
}

@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px;
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0;
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center;
}
}

@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600;
}
}

/* About Us */

.aboutustitle {
  border: hsl(94, 75%, 22%); 
  border-radius: 5%;
}

.aboutustext {
  color: hsl(94, 75%, 22%);
}

.aboutusimg {
  border-radius: 10%; 
  height: 370px;
}

.firstpabout {
  text-align:justify; 
  border-radius: 5px; 
  text-indent: 40px;
}

.aboutp {
  text-align:justify; 
  border-radius: 5px;  
  text-indent: 40px;
}

.aboutpm {
  color:hsl(94, 75%, 22%);
}

.aboutptitle {
  color:hsl(94, 75%, 22%);
}

.ourshoptitle {
  color:hsl(94, 75%, 22%);
}

.iframevid {
  border-radius:3% ;
}

/* Contact Form */

.contactcontainer {
  border: hsl(94, 75%, 22%); border-radius: 5%;
}

.contactustext {
  color:hsl(94, 75%, 22%);
}

.contactlegend {
  color: hsl(94, 75%, 22%); 
  text-align: center;
}

.namelabel {
  color: hsl(94, 75%, 22%);
}

.contactinfocard {
  height:93% ;
}

.contactsocialhref {
  text-decoration:none !important; 
  color: black;
}

/* Cart */

.carttext {
  color: hsl(94, 75%, 22%);
}

.cartpromo {
  color: black;
  background-color: hsl(49, 100%, 50%);
  padding: 2px;
  text-align: center;
}

.cartitems {
  padding: 0px 5px;
  background-color: white;
  color: hsl(94, 75%, 22%);
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.wishlisttext {
  color: hsl(94, 75%, 22%);
}

.wishlistsection {
  margin-bottom:100px;
}

.fa-shopping-cart {
  height: 20px;
}

.cart_box img{
    width: 50px;
    height: 50px;
}
.cart_img{
    display: flex;
    width: 400px;
}
.cart_img p {
    font-weight: bold;
    margin-left: 10px;
}
.cart_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid hsl(94, 75%, 22%);
    padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}
.cart_box div:nth-child(3) button{
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border:none;
    outline: none;
    color:black;
    background-color: hsl(49, 100%, 50%);
    border-radius: 5px;
    cursor: pointer;
}
.cart_box div:nth-child(3) button:hover{
    background-color: darkseagreen;
}
.cart_box div:nth-child(3) span{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: hsl(94, 75%, 22%);
}

.total{
    display: flex;
    justify-content: space-between;

}
.total span:nth-child(1) {
    font-size: 25px;
    color: hsl(94, 75%, 22%);
    font-weight: bold;
    text-align: left;
    
}

.shippingfee {
    display: flex;
    justify-content: space-between;
}

.shippingfee span:nth-child(1){
    font-size: 20px;
    color: hsl(94, 75%, 22%);
    font-weight: bold;
}

.subtotal {
  display: flex;
}

.subtotal span:nth-child(1){
  font-size: 20px;
  color: hsl(94, 75%, 22%);
  font-weight: bold;
}

.qtybtn {
  border: none;

}


.checkoutbtn {
    margin-bottom: 300px;

}

.warning{
  height: 40px;
  width: 250px;
  z-index: 40;
  background-color: rgb(210, 91, 91);
  font-size: 1.1rem;
  color: white;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

/* Register */

.registersection {
  padding-top: 100px; 
  padding-bottom:100px;
}

.signupcontainer {
  text-align: center;
}

.signuptext {
  color: hsl(94, 75%, 22%);
}

.createacclegend {
  color: hsl(94, 75%, 22%); 
  text-align: center;
}

.createacclabel {
  color: hsl(94, 75%, 22%);
}

.instructions {
  font-size: 14px;
  border-radius: 0.5rem;
  color: rgb(211, 68, 68);
  padding-left: 4px;
  margin-bottom: 0%;

}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* Login */

.loginsection {
  display: flex;
}

.logincontainer {
  align-items:center; 
  width: fit-content;
}

.logincontainer1 {
  text-align: center; 
  width: 500px;
}

.logincontainer2 {
  align-items: center; 
  width: 500px;
}

.logintext {
  color: hsl(94, 75%, 22%);
}

.logincol {
  align-items: center;
}

.loginlegend {
  color: hsl(94, 75%, 22%); 
  text-align: center;
}

.accountlabel {
  color: hsl(94, 75%, 22%);
}

.successlogincont {
  margin-top: 300px;
  margin-bottom: 300px;
  text-align: center;
}

.scslogintxt {
  color: hsl(94, 75%, 22%);
}

/* Checkout */

.checkoutcontainer {
  color: hsl(94, 75%, 22%);
}

.orderdetails {
  color: hsl(94, 75%, 22%); text-align: center;
}

.itemdesc {
  width:45%;
  text-align: center; 
  color: hsl(94, 75%, 22%);
}

.itemqpa {
  width:20%; 
  color: hsl(94, 75%, 22%)
}

.tableheight {
  height:50px;
}

.inputdimension {
  width:100%; 
  height:100%;
}

.subtotal {
  text-align: right; 
  height:50px; 
  color: hsl(94, 75%, 22%);
}

.discount {
  text-align: right; 
  height:50px; 
  color: hsl(94, 75%, 22%);
}

.shippingfee {
  text-align: right; 
  height:50px; 
  color: hsl(94, 75%, 22%);
}

.total {
  text-align: right; 
  height:50px; 
  color: hsl(94, 75%, 22%);
}

.additionaldetails {
  color: hsl(94, 75%, 22%);
  text-align: left; 
  font-size: 20px;
}

.paymentmethodlabel {
  color:hsl(94, 75%, 22%);

}

.addresstype {
  color:hsl(94, 75%, 22%);
}

.addresslabel {
  color:hsl(94, 75%, 22%);
}

/* Product Details */

.prodtitle {
text-align: center;
}

.proddetailscont {
  background-color: white;
  border-radius: 5px;
}

.img-prod {
  justify-content: center;
  text-align: center;
  margin-left: 30%;
}


.card-img-prod {
  display: flex;
  width:70%;
  
}

.fa-square {
  color: rgb(194, 122, 29);
  font-size: 30px;
}

.fa-square-images1 {
 color: brown;
 font-size: 150px;
 padding-right: 5px;

}
.fa-square-images2 {
color: rgb(184, 109, 12);
font-size: 150px;
padding-right: 5px;

}
.fa-square-images3 {
color: rgb(218, 159, 104);
font-size: 150px;
}

.prodbtn {
  margin-left: 30%;
}


@media screen and (max-width: 782px) {
  .navbar-links {
    display: none !important;
    width: 100%;
  }
  .navbar-toggler {
  border-color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .aboutusimg {
    float:none !important;
    align-items: center !important;
    margin-right: 0% !important;
    justify-content: center !important;
    text-align: center !important;
    margin-left: 10%;
    margin-right: 13%;
  }
}

@media screen and (max-width: 485px) {
  .aboutusimg {
    margin-left: 7%;
    margin-right: 17%;
  }

}
  @media screen and (max-width: 444px) {
  .aboutusimg {
    margin-left: 0%;
    margin-right: 13%;
  }
}

  @media screen and (max-width: 406px) {
  .aboutusimg {
    margin-left: 0%;
    margin-right: 0%;
  }
}

  @media screen and (max-width: 406px) {
  .aboutusimg {
    display: none;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  column-count: 4;
  margin-bottom: 10px;
}
 
.card-text{
  font-size: 75px;
}

.whitetext{
  color: white;
}

.custreview {
  background-color: hsl(94, 24%, 53%);
  color: white;
}

  #small {
    font-size: 10px;
  }
  .details{

    font-size: 50px;
  }
  .smalldetails{
    
    font-size: 25px;
  }
  .smalldetails2{
    
    font-size: 15px;
  }

  .detailsAmount{

    font-size: 40px;
  }
  .detailsAmount1{

    font-size: 50px;
  }
  .text-left{
    text-align: left;
    
    font-size: 20px;
  }
  .des{
    text-align: Center;
    color: hsl(94, 75%, 22%);
    font-size: 25px;
  }
  .admincontainer {
    border: hsl(94, 75%, 22%); border-radius: 5%;
    color: hsl(94, 75%, 22%);
    font-size: 25px;
    text-align: center;
    margin-right: 0;
  }

  
  .OR{
    text-align: center;
    margin-left: 250px;
  }
  .prodcont{
    background-color: #f4fcf4;
    color: black;
  }

  .blackfnt{
    font-size: 20px;
   
    color: black;
  }

  .greenfnt{
    font-size: 16px;
   
   justify-content: center;
    color: hsl(94, 75%, 22%);
  }
  .sort{
    padding-left: 22px;
   
  }

  .overflow-scroll {
    scrollbar-color: lightgreen;
  
  }

  .modal.modal-fullscreen .modal-dialog {
    width: 80vw;
    height: 85vh;
    margin-left: 100px;
    padding: 0;
    max-width: none; 
    justify-content: center;
    position: absolute;

  }
  
